{
    "extends": "./node_modules/lab/lib/linters/eslint/.eslintrc",
    "ecmaFeatures": {
        "jsx": true,
        "arrowFunctions": true,
    },
    "env": {
        "node": true,
        "browser": true
    }
}
